# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Visual Studio
.vs/

# OS Files
.DS_Store
Thumbs.db

# Environment
.env


#git add .
#git commit -m "Your message here"
#git push